.scroll-hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 1s;
  -webkit-transition: opacity 1s, transform 1s;
  -moz-transition: opacity 1s, transform 1s;
  -ms-transition: opacity 1s, transform 1s;
  -o-transition: opacity 1s, transform 1s;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.img-group:nth-child(2) {
  transition-delay: 200ms;
}

.img-group:nth-child(3) {
  transition-delay: 400ms;
}

.img-group:nth-child(4) {
  transition-delay: 600ms;
}
