:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin-top: 70px;


  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}





  /* color de la barra de navegacion color */
  
  .nav_main {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 70px;
    position: fixed;
    width: 100%;
    box-shadow: 0 0.1rem 0.1rem white;
    top: 0;
    left: 0;
     z-index: 100;

}




  
  .nav {
  
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    z-index: 100;
    
    
  
  }
  
  /*color de la letras de la barra de navegacion */
  
  .nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;

}
  
  .logo {
    padding: 0 40px;
    line-height: 70px;
  }
  
  .nav-menu {
  
  
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 15px;
    margin: 0 10px;
    line-height: 70px;
    text-transform: uppercase;
    width: max-content;

}
  
  .nav-menu-link{
    padding: 8px 10px;
    border-radius: 3px;
  
  }
  
  .nav-menu-link:hover, .nav-menu-link_active{
  /*colordelhover*/background-color: rgb(255, 255, 255);
  transition: 0.5s ease;

}
  
  .nav-toggle {
  
    color: black;
    background: none;
    border: none;
    padding: 0 20PX;
    line-height: 50PX;
    display: none;
    cursor: pointer;
    
  
  }
   .nav-marca-link {
    
    text-decoration: none;
    line-height: 70px;
    text-transform: uppercase;
   
  
  
   }
  
   .nav-marca {
  
    list-style: none;
   }
  
  
   #header-contact {

    margin-top: 100px
   }



   
   .flex-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    


   }

   .flex-item{

    padding: 20px;
   


   }



.profilelogi  {

 display: flex;
 flex-direction: row;


 
  }

.profilelogi img {
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-right: 150px;
  

}

.profilelogi h2 {

  font-size: 10px;
  color: white;
  text-align: center;
 
  padding: 20px;


}

.loginOut {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: -60px;
  
}
 


.style_login button {
  background-color: rgb(49, 107, 183);
  color: white;
  text-transform: uppercase;
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  

  

    


}




.style_login button:hover {
  background-color: rgb(49, 49, 49);
 
}



/* seccion about  */
.welcome-page h1 {
  margin-top: 100px;
  font-size: 40px;
  font-weight: 800;
}

.welcome-page h2 {
  margin-top: 100px;
  font-size: 30px;
  font-weight: 400;
}


.welcome-page p {
  margin-top: 100px;
  font-size: 30px;
  font-weight: 400;
}


/* Eliminar despues */
.navbar {
  color: white;
  background-color: black;
}



.about-page {
  background-color: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;
}

.aboutus-header {
  background-color: gray;
  padding: 3% 8%;

}

/*About Us Page*/


.info_about {

  padding: 7% 15%;
  opacity: 1;
  background-color: #2d095c;
}

.col-lg-4 {
  text-align: center;
  color: white;


}

.topics_about {
  color: rgb(229, 225, 225);
  font-weight: bold;
  padding-top: 2px;
  ;

}

#footer_about {
  margin: auto;
  color: white;
  text-align: center;
  line-height: 2;
  background-color: #240041;
}



.Animation1 {

  text-align: center;
  font-weight: 400;
  color: white;
}

